@inherits LayoutComponentBase

<AuthorizeView Roles="Administrator">
    <Authorized>
        <AdminMenu/>
        <div class="admin-content">
            
            @Body

           
        </div>
    </Authorized>
    <NotAuthorized>
        <NavBar/>
        <div class="main-content">
            @Body
        </div>
    </NotAuthorized>
</AuthorizeView>



@*Footer can be found in index.html*@